%tr{'data-role' => "pull_requests_tagged_user#{pull_requests_tagged_user.id}", 'data-move-url' => move_pull_requests_tagged_user_url(pull_requests_tagged_user), 'data-position' => pull_requests_tagged_user.position}
  %th.sortable_index{:scope => "row"}= pull_requests_tagged_user.position + 1
  %td{:style => "white-space: nowrap;"}= pull_requests_tagged_user.pull_request.user.display_name
  %td{:style => "white-space: nowrap;"}= pull_requests_tagged_user.pull_request.link
  %td= pull_requests_tagged_user.pull_request.description
  %td
    - pull_requests_tagged_user.pull_request.users.each do |tagged_user|
      %span.badge.badge-dark{:style => "white-space: nowrap;"}= tagged_user.display_name
  %td
    = link_to "Mark Complete", mark_completed_pull_requests_tagged_user_path(pull_requests_tagged_user), :method => :put, :class => 'btn btn-primary btn-sm', :style => "white-space: nowrap;"
