%main.container-fluid{:role => "main"}
  .starter-template
    %h1 Welcome to PR Ninja!
    - if logged_in?
      %p.lead
        Here are all of your tagged PRs
      %table.table.table-striped
        %thead.thead-dark
          %tr
            %th{:scope => "col"} #
            %th{:scope => "col"} User
            %th{:scope => "col"} PR Link
            %th{:scope => "col"} Description
            %th{:scope => "col"} Tagged Users
            %th{:scope => "col"} Actions
        %tbody{'data-role' => "activerecord_sortable"}
          - @user_tags.each do |user_tag|
            %tr{'data-role' => "user_tag#{user_tag.id}", 'data-move-url' => move_user_tag_url(user_tag), 'data-position' => user_tag.position}
              %th.sortable_index{:scope => "row"}= user_tag.position + 1
              %td{:style => "white-space: nowrap;"}= user_tag.pull_request.user.display_name
              %td{:style => "white-space: nowrap;"}= user_tag.pull_request.link
              %td= user_tag.pull_request.description
              %td
                - user_tag.pull_request.tagged_users.each do |tagged_user|
                  %span.badge.badge-dark{:style => "white-space: nowrap;"}= tagged_user.display_name
              %td
                = link_to "Complete", mark_complete_user_tag_path(user_tag), :method => :put, :class => 'btn btn-primary btn-sm', :style => "white-space: nowrap;"
    - else
      %p.lead
        Login to start enjoying automatic PR todos generated from this bot listening in to your repo's Slack channel.
