%tr{'data-role' => "user_tag#{user_tag.id}", 'data-move-url' => move_user_tag_url(user_tag), 'data-position' => user_tag.position}
  %th.sortable_index{:scope => "row"}= user_tag.position + 1
  %td{:style => "white-space: nowrap;"}= user_tag.pull_request.user.display_name
  %td{:style => "white-space: nowrap;"}= user_tag.pull_request.link
  %td= user_tag.pull_request.description
  %td
    - user_tag.pull_request.tagged_users.each do |tagged_user|
      %span.badge.badge-dark{:style => "white-space: nowrap;"}= tagged_user.display_name
  %td
    = link_to "Mark Complete", mark_completed_user_tag_path(user_tag), :method => :put, :class => 'btn btn-primary btn-sm', :style => "white-space: nowrap;"
